
.container
    .row
        .col-lg-12
            h2 Static site boilerplate using Sass, Jade, Harp, Browser Sync, Gulp.
            strong Libraries
            ul
                li Bootstrap
                li Bourbon
                li Media Queries
                li Hover
